# SPDX-FileCopyrightText: 2022 Gary Hammock <https://ghammock.dev>
# SPDX-License-Identifier: MIT

# PyCharm
.idea/

# VSCode
.vscode/

# Python
**/__pycache__/**
venv/

# pyenv
.python-version

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# General
**/.cache
.history/
