# SPDX-FileCopyrightText: 2022 Gary Hammock <https://ghammock.dev>
# SPDX-License-Identifier: MIT

flake8==4.0.1
flake8-import-order==0.18.1
flake8-typing-imports==1.12.0
line_profiler==3.4.0
mypy==0.931
notebook==6.4.8
numpy==1.22.2
pandas==1.4.1
pep8-naming==0.12.1
